.pageBlogs {
  padding: 0 5%;
}

.pageTitle {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-family: serif;
}

.pageTitle:after {
  position: absolute;
  bottom: -5px;
  left: 0px;
  content: '';
  width: 75%;
  border-bottom: 2px solid #FFC107;
}

h2 {
  font-weight: 400;
  font-size: 24px;
  margin: 16px 0 12px 0;
}

.tag {
  padding: 4px 8px;
  margin-left: 8px;
  text-transform: lowercase;
  background-color: #ffdd037c;
  border-radius: 5px;
  color: #999;
  font-size: 12px;
}

.tag:first-child {
  margin-left: 0px;
}

.preview {
  width: 50%;
  line-height: 1.3;
  color: #666;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.loadingPlaceholder .blogtitle {
  height: 24px;
}

.loadingPlaceholder .loadingBody {
  height: 12px;
  margin-bottom: 8px;
}

.loadingPlaceholder .loadingBody:nth-child(2) {
  width: 90%;
}

.loadingPlaceholder .loadingBody:nth-child(3) {
  width: 80%;
}

.loadingPlaceholder .loadingBody:nth-child(4) {
  width: 65%;
}

@media all and (max-width: 728px) {
  .preview {
    width: 100%;
  }
}
